
.ReactTable .rt-thead .rt-tr {
  text-align: center;
  font-size: 30px;
  font-weight:bold;
  background-color: aqua;
  color: purple;
  box-shadow: none;
}
.ReactTable .rt-thead .rt-resizable-header-content:hover {
  background-color: blue;
  color: #f2f2f2;
}
.ReactTable .rt-tr-group {
  text-align: center;
  text-transform: capitalize;
  font-size: 16px;
}
.ReactTable .rt-tbody .rt-td:hover{
 
  background-color:powderblue;
  color:black;
  font-weight:500;
}
.ReactTable .-even {
  background-color: #f2f2f2;
}
.ReactTable .-btn {
  color:purple;
}